.progress-bar-wrapper {
  width: 100%;
  padding: .25em;
  height: 30px;

  .progress-bar {
    position: relative;
    width: calc(100% - .5em);
    height: 100%;
    background-color: #ddd;
    border: 1px solid rgb(22, 35, 48);
  }
  
  .bar-status {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(19, 39, 105, 0.607);
  }
}